* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e3f2fd, #f8fbff);
}

.container {
  width: 90%;
  max-width: 1000px;
  padding: 60px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 25px 60px rgba(0,0,0,0.08);
  text-align: center;
}

/* Main Heading */
h1 {
  font-size: 38px;
  font-weight: 700;
  color: #1565C0;
  transition: 0.3s ease;
  cursor: pointer;
}

h1:hover {
  color: #0D47A1;
  text-shadow: 0 4px 12px rgba(21,101,192,0.3);
  transform: scale(1.02);
}

/* Subtitle */
h2 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 50px;
  color: #546E7A;
  position: relative;
  display: inline-block;
  transition: 0.3s;
}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #42A5F5;
  transition: 0.3s ease;
}

h2:hover {
  color: #1565C0;
}

h2:hover::after {
  width: 100%;
}

/* Upload Box */
.input-box {
  width: 100%;
  min-height: 220px;
  border: 2px dashed #90CAF9;
  border-radius: 16px;
  padding: 20px;
  background: #F9FCFF;
  position: relative;
  transition: 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box:hover {
  border-color: #1E88E5;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(30,136,229,0.2);
}

/* Placeholder */
.placeholder {
  position: absolute;
  text-align: center;
  color: #1E88E5;
  font-size: 15px;
  pointer-events: none;
  transition: 0.2s ease;
}

/* Textarea */
textarea {
  width: 100%;
  height: 180px;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  font-size: 14px;
  color: #37474F;
  z-index: 2;
}

/* Hide file input */
input[type="file"] {
  display: none;
}

/* Button */
button {
  margin-top: 40px;
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  background: #1E88E5;
  color: white;
  transition: 0.3s ease;
}

button:hover {
  background: #42A5F5;
  box-shadow: 0 10px 25px rgba(30,136,229,0.3);
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.98);
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 30px;
  }

  h1 {
    font-size: 28px;
  }
}
